#loading, #results{
  display:none;
}
 
#topSection{
  background: linear-gradient(to right,#065ce5,50%,#2eb5fb);
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.nav-link{
  color:white !important;
}
#topRow{
  height: 88vh;
}

#headerLeftCol{
  margin-top: 5%;
  display: flex;
  align-items: top;
  justify-content: center;
}

#headerRightCol{
 margin-top:2%;
 display: flex;
  align-items: top;
  justify-content: center;
}

.btnMain{
  background-color: #04e63c;
  border-radius:25px;
  padding:13px;
  text-transform: uppercase;
  width: 180px;
  font-size: 1rem;
  font-weight: bold;
}

.mainH1{
  font-weight: bold;
}

#phone{
  max-width: 100%;
  height: 70vh;
  z-index: 5;
}

.navbar-brand{
  margin-left:8% !important;
}

.logo{
  font-family: 'Rubik', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.videoBtn{
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.videoText{
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase; 
}

.loginBtn1{
  display: none;
}

#secondSection{
 background-color: #dbf0fd;
 height: 450px;
}

.cards{
  height:450px;
  margin-top:-10%;
  box-shadow: 0 8px 8px 1px gray;
  border-radius: 5px;
  padding-top:15px;
  font-family: 'Montserrat', sans-serif;
}

.cardsTitle{
padding-top:20px;
font-weight: bold;
}

.cardsBtn{
  background-color: #0066c2;
  border-radius:25px;
  padding:13px;
  text-transform: uppercase;
  width: 180px;
  font-size: 1rem;
  font-weight: bold;
}

#thirdSection{
background-color: #dbf0fd;
 height: 300px;
 font-family: 'Montserrat', sans-serif;
 padding-top:50px;
}

.statNum{
  font-size: 2.3rem;
  color:#0851f5;
  margin:0;
}

.statText{
  font-size:1.5rem;
}

#fourthSection{
  background: linear-gradient(to right,#065ce5,50%,#2eb5fb);
  font-family: 'Montserrat', sans-serif;
  color:white;
}

.watchFlexLeft{
  display: flex;
  align-items: top;
  justify-content: center;
}

.watchFlexRight{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  #phone {
    display: none;
  }
  #topRow{
    text-align: center;
    height: 75vh;
  }
  .videoText{
    display: none;
  }
  .mainH1{
    font-size: 2rem;
  }
  #headerRightCol{
    display: none;
  }

  .loginBtn1{
    display: block;
  }
  .loginBtn2{
    display:none;
  }
  #secondSection{
    display:none;
   }
   .statNum{
    font-size: 1.5rem;
  }
  
  .statText{
    font-size:1.2rem;
  }
}

@media only screen and (min-width: 1400px) {
.cards{
  height:40vh;
  }
  #secondSection{
    height: 40vh;
   }
   #thirdSection{
     height: 25vh;
    }
    #topRow{
      height: 60vh;
    }
    #phone{
      height: 55vh;
    }
}