#loading, #results{
  display:none;
}
 
#topSection{
  background: linear-gradient(to right,#065ce5,50%,#2eb5fb);
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.nav-link{
  color:white !important;
}
#topRow{
  height: 90vh;
}

.col-md-5{
  display: flex;
  align-items: top;
  justify-content: center;
}

#headerLeftCol{
  margin-top: 5%;
}

#headerRightCol{
 margin-top:2%;
}

.btnMain{
  background-color: #04e63c;
  border-radius:25px;
  padding:13px;
  text-transform: uppercase;
  width: 180px;
  font-size: 1rem;
  font-weight: bold;
}

.mainH1{
  font-weight: bold;
}

#phone{
  max-width: 100%;
  height: 75vh;
  z-index: 5;
}

.navbar-brand{
  margin-left:8% !important;
}

.logo{
  font-family: 'Rubik', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.videoBtn{
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.videoText{
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase; 
}

.loginBtn1{
  display: none;
}

#secondSection{
 background-color: #dbf0fd;
 height: 60vh;
}

.cards{
  height:59vh;
  margin-top:-10%;
  box-shadow: 0 5px 3px -1px gray;
  border-top-left-radius: 25% 20%;
  border-top-right-radius: 25% 20%;
  border-bottom-left-radius: 15% 15%;
  border-bottom-right-radius: 15% 15%;
  padding-top:15px;
  font-family: 'Montserrat', sans-serif;

}

.cardsTitle{
padding-top:20px;
font-weight: bold;
}

#thirdSection{
  background-color: #dbf0fd;
  height: 60vh;
 }


@media only screen and (max-width: 768px) {
  #phone {
    display: none;
  }
  #topRow{
    text-align: center;
    height: 75vh;
  }
  .videoText{
    display: none;
  }
  .mainH1{
    font-size: 2rem;
  }
  #headerRightCol{
    display: none;
  }

  .loginBtn1{
    display: block;
  }
  .loginBtn2{
    display:none;
  }
  #secondSection{
    display:none;
   }
}